.container-nav
    @include grid-container
    grid-row: 1 / 2
    // display: grid
    // grid-template-columns:[full-start] 1fr [content-start] repeat(6,[col-start] 17rem [col-end]) [content-end] 1fr [full-end]
    // grid-template-rows: 10rem
    // @media only screen and (max-width: 1020px)
    //     grid-template-columns: [content-start] minmax(56rem, 100%) [content-end]
    background: #E1EDE6

.nav
    grid-column: content-start / content-end
    @include textGreenLight
    font-weight: 700
    align-content: center
    display: grid
    grid-template-columns: 20rem minmax(0.1rem, 1fr) 42.5rem 5rem
    grid-template-rows: 10rem
    @include respond(tab-port)
        grid-template-columns: 46.5rem 1fr
        grid-template-rows: 5rem 5rem
        justify-content: start
    //grid-gap: 0rem
    //padding: 3.2rem 1.5rem

.logo_in_nav
    grid-column: 1 / 2 
    grid-row: 1 / 2
    align-self: center !important
    margin-left: 2rem
    @include respond(tab-port)
        grid-column: 1 / -1 //!important
        grid-row: 1 / 2 //!important
        justify-self: center
        background-color: red

.menu
    align-self: center
    grid-column: 3 / 4
    grid-row: 1 / 2
    @include respond(tab-port)
        grid-column: 1 / 3
        grid-row: 2 / 3
        justify-self: start
        padding-left: 3.3rem
    &__list
        display: inline-block
        list-style-type: none
        width: 100%
    &__item  
        display: inline-block
        &:not(:last-child)
            margin-right: 5.5rem         
            //margin-rigth: 0rem
        // &:last-child
        //     @include respond(tab-port)
        //         grid-column: 4 / 5
    &__link
        @include textBlack
        text-decoration: none 
        font-weight: 700 
.basket
    grid-column: 4 / 5
    grid-row: 1 / 2
    align-self: center
    margin-right: 2rem
    @include respond(tab-port)   
        grid-column: 3 / 4
        grid-row: 2 / 3
        justify-self: start